@model IEnumerable<ClientSide.ViewModels.Additional.AdditionalVM>

@{
    ViewData["Title"] = "List Additional - Metrodata Task Management";
    var no = 1;
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card p-3">
        <div class="d-flex align-items-center gap-2">
            <a href="javascript:history.back()">
                <i class='bx bx-arrow-back'></i>
            </a>
            <h4 class="fw-bold mb-0">Accounts</h4>
        </div>
        <a asp-controller="Additional" asp-action="AddAdditional" asp-route-guid="@ViewBag.Guid" class="btn btn-primary mb-3 mt-5 col-md-2">New Additional</a>
        <table id="tableAdditionals" class="table table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name File</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => no)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.FileName)</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="DownloadFile" asp-route-guid="@item.Guid" download><i class="bx bx-edit-alt me-1"></i> Download</a>
                                    <button class="dropdown-item" onclick="showDeleteAdditional('@item.Guid')"><i class="bx bx-trash me-1"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    no++;
                }
            </tbody>
        </table>
    </div>
</div>


@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.5.1/css/dataTables.dateTime.min.css">
    <link rel="stylesheet" href="../css/deep.css" />
}

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.5.1/js/dataTables.dateTime.min.js"></script>
    <script src="~/js/datatables_additionals.js" asp-append-version="true"></script>
}