@model IEnumerable<ClientSide.ViewModels.Assignment.GetForStaffVM>

@{
    ViewData["Title"] = "GetProgressForStaff";
}

<h1>Progress View</h1>
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Progress /</span>
            Progress View
        </h4>
        <div class="row mb-3">
        @foreach (var item in Model)
            {
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <h5>@Html.DisplayFor(modelItem => item.AssignmentName)</h5> <br>
                                <h6>@Html.DisplayFor(modelItem => item.ManagerName)</h6>
                            </div>
                            <p class="card-text">
                                Progress Descriptions : 
                                @foreach (var progress in item.ListProgress)
                                {
                                    <div>
                                        @progress.Description
                                    </div>
                                    @progress.StatusProgress
                                }
                            </p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>


@*
<table class="table">
    <thead>
        <tr>
            <th>
                Assignment Name
            </th>
            <th>
                Manager Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerName)
                </td>
                <td>
                    @foreach (var progress in item.ListProgress)
                    {
                        <p>
                            Guid: @progress.Guid
                        </p>
                        <p>
                            Assignment Guid: @progress.AssignmentGuid
                        </p>
                        <p>
                            Description: @progress.Description
                        </p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
*@